# =========================
# Frontend
# =========================

frontend/node_modules
frontend/dist

# =========================
# Backend
# =========================

backend/node_modules
backend/.env
backend/uploads

# =========================
# Logs
# =========================

*.log
logs

# =========================
# System Files
# =========================

.DS_Store
.vscode
.idea